.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #495e57;
}

.hero-img{
    width: 12em;
    height: 18em;
    position: relative;
    top: 2em;
    left: -2em;
    border-radius: 16pt;
}

.hero-items{
    display: grid;
    width: 20em;
    grid-gap: 0.5em;
}
h1{
    margin-bottom: -0.5em;
    font: 700 64pt 'Markazi Text', serif;
    white-space: nowrap;
    color: #f4ce14;
}
h3{
    font: 400 40pt 'Markazi Text', serif;
    color: white;
}
p{
    padding-top: 0em;
    font: 500 18pt 'Karla', sans-serif;
    color: white;
}

.hero-items button{
    margin-top: 0.5em;
    width: 10em;
    height: 1.8em;
    font: 500 18pt 'Karla', sans-serif;
    background-color: #f4ce14;
    border: none;
    color: #333333;
    border-radius: 16pt;
}
.hero-items button:hover{
    border: solid #f4ce14 0.2em;
    background-color: #495e57;
    color: white;
    transition: all 0.1s ease-in;
    cursor: pointer;
}


@media  screen and (min-width:320px) and (max-width: 639px){
    .hero-container{
        padding-left: 2em;
        width: 100%;
    }

    h1{
        font: 500 45pt 'Markazi Text', serif;
        padding-left: 0.1em;
    }
    h3{
        font: 400 30pt 'Markazi Text', serif;
        padding-left: 0.1em;
    }
    p{
        width: 10.8em;
        font: 400 16pt 'Karla', sans-serif;
        padding-left: 0.3em;
    }
    .hero-items{
        padding-right: 0.2em;
    }
    .hero-items button{
        width: 8em;
        font: 500 16pt 'Karla', sans-serif;
        position: relative;
        left: 0.3em;
        width: 10em;
        height: 1.5em;
        margin-bottom: 0.5em;
    }
    .hero-img{
        width: 6em;
        height: auto;
        border-radius: 16pt;
        position: relative;
        top: 1.5em;
        padding-left: 0.5em;
    }
}
@media  screen and (max-width: 1024px) and (min-width:640px){
    .hero-container{
        padding-left: 1em;
    }
    h1{
        font: 500 55pt 'Markazi Text', serif;
    }
    h3{
        font: 400 40pt 'Markazi Text', serif;
    }
    p{
        width: 15em;
        font: 400 16pt 'Karla', sans-serif;
    }
    .hero-img{
        width: 12em;
        height: auto;
    }
}