.navbar-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2em;
    width: 100%;
    height: 6em;
    background-color: #edefee;
}
.menu-icons{
    display: none;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 2.5em;
    list-style: none;
    align-items: center;
    padding-top: 1.5em;
}
.nav-links{
    text-decoration: none;
    color: #333333;
    font: 700 16pt 'Karla', sans-serif;
    padding: 0.2em 0.5em;
}

.logo-img{
    width: 10em;
}
.nav-links:hover{
    background-color: #495e57;
    color: #edefee;
    border-radius: 16pt;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.login-button{
    position: relative;
    top: -0.3em;
    margin-left: 10em;
    width: 5em;
    height: 1.5em;
    font: 500 16pt 'Karla', sans-serif;
    background-color: #f4ce14;
    border-radius: 16pt;
    border: none;
}

.login-button:hover{
    background-color: #495e57;
    color: #edefee;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.shopping{
    position: relative;
    right: 0.5em;
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
    margin: 0em 0.5em;
}
.shopping:hover{
    transform: scale(1.2);
}


@media  screen and (max-width: 639px){
    .navbar-items{
        width: 100%;
        overflow: hidden;
    }
    .navbar-items{
        padding: 2.5em 0em;
        z-index: 9999;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fbdabb;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100;
        padding: 4em 0em 1.5em 0em;
        opacity: 0;
        z-index: -1;
        transition: 0.2s ease-in-out;
    }
    .nav-menu.active{
        position: absolute;
        top: 5em;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: 0.01s ease-in-out;
    }
    .nav-links{
        display: block;
        width: 100%;
    }
    .logo-img{
        width: 9em;
    }
    .shopping{
        position: relative;
        right: 0em;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
    }
}
@media  screen and (min-width: 640px) and (max-width:900px) {
    .navbar-items{
        width: 100%;
        overflow: hidden;
    }
    .navbar-items{
        padding: 2.5em 0em;
        z-index: 9999;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fbdabb;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100;
        padding: 4em 0em 1.5em 0em;
        opacity: 0;
        z-index: -1;
        transition: 0.2s ease-in-out;
    }
    .nav-menu.active{
        position: absolute;
        top: 5em;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: 0.01s ease-in-out;
    }
    .nav-links{
        display: block;
        width: 100%;
    }
    .logo-img{
        width: 9em;
    }
    .shopping{
        position: relative;
        right: 0em;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
    }
}

@media  screen and (min-width:901px) and (max-width:1024px){
    .navbar-items{
        width: 100%;
        overflow: hidden;
    }
    .nav-menu{
        grid-gap: 0em;
        justify-content: center;
        position: relative;
        left: 2em;
    }
    .nav-links{
        white-space: nowrap;
    }
    .logo-img{
        width: 8em;
        padding-left: 1em 0em 1.5em 0em;
    }
    .login-button{
        position: relative;
        right: 5em;
        width: 5em;
        font: 500 15pt 'Karla', sans-serif;
    }
    .shopping{
        width: 1.5em;
        height: auto;
        position: relative;
        right: 1em;
    }
}

@media  screen and (min-width: 1025px) {
    .shopping{
        width: 1.7em;
        height: auto;
        position: relative;
        right: -0.8em;
    }
    .logo-img{
        padding-right: 1em;
    }
    .nav-links{
        white-space: nowrap;
    }
    .login-button{
        position: relative;
        right: -3em;
        margin: 0;
    }
    .nav-menu{
        margin: 0em 0.5em;
        grid-gap: 2em;
    }
}