.reservation-container{
    text-align: center;
    padding: 5em 3em;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)), url("https://images.unsplash.com/photo-1538334421852-687c439c92f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}
.reservation-container h2{
    font: 700 32pt 'markazi', serif;
    color: #333333;
    padding-top: 1em;
}
.reservation-container p{
    font: 500 18pt 'karla', sans-serif;
    color: #333333;
    padding-bottom: 2em;
}

form{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1em;
    width: 60vw;
    height: fit-content;
    border: #333333 solid 0.02em;
    border-radius: 16pt;
    background-color: #edefeecd;
}
fieldset{
    border-radius: 16pt;
    border: none;
    height: 45em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-top: 1.5em;
    text-align: right;
}
label{
    text-align: right;
    padding: 1.5em 1.5em;
    font: 500 16pt 'karla', sans-serif;
    color: #333333;
    
}
input{
    border: none;
    font: 400 14pt 'karla', sans-serif;
    margin-left: 0.5em;
    width: 10em;
    height: 1.5em;
    box-shadow: 0px 0px 15px -5px;
    padding-left: 0.5em;
}
input:focus{
    color: #333333;
    border: #f4ce14 0.01em solid;
}

sup{
    color: red;
}
select{
    width: 10em;
    position: relative;
    box-shadow: 0px 0px 15px -5px;
}
option{
    font: 400 12pt 'karla', sans-serif;
}

.phone-number{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 27.5em;
    top: 34.5em;
    margin-top: 0.5em;
}
.phone-number label{
    position: relative;
    top: -0.3em;
}
.phone-number p{
    font: 400 10pt 'karla', sans-serif;
    position: relative;
    top: 3em;
}
.phone{
    width: 10em;
    height: 1.5em;
    position: relative;
    top: 1.5em;
    left: -0.2em;
}
.reserve-button{
    padding-top: 3em;
    display: flex;
    justify-content: center;
}
.reserve-button button{
    font: 500 18pt 'karla', sans-serif;
    width: 12em;
    height: 2em;
    border: none;
    border-radius: 16pt;
    color: #333333;
    background-color: #f4ce14;
    
}
.reserve-button button:hover{
    color: white;
    background-color: #495e57;
}

.reserve-button button:disabled,
.reserve-button button[disabled] {
  border: 1px solid #333333;
  background-color: #3333335a;
  color: #333333;
  cursor: not-allowed;
}

.date{
    position: relative;
    top: 3em;
    margin-top: 0.9em;
}
.occasions, .guests, .time{
    position: relative;
    left: -1em;
    top: 2.5em;
}

.occasions select, .guests select, .time select{
    padding-left: 0.3em;
    margin-left: 0.3em;
    margin-right: -0.5em;
}

@media  screen and (max-width: 639px){
    .reservation-container{
        display: flex;
        place-items: center;
    }
    .reservation-container h2{
        font: 700 25pt 'markazi', serif;
    }
    .reservation-container p{
        font: 500 14pt 'karla', sans-serif;
        width: 15em;
    }
    form{
        width: 80vw;
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: right;
        gap: 0.5em;
        height: 50em;
    }
    input{
        margin: 0;
    }
    label{
        text-align: left;
        padding-right: 0.4em;
        position: relative;
        left: -1.4em;
        margin-bottom: -1em;
    }
    .first-name, .last-name, .email-address, .date, .phone-number, .time, .guests, .occasions{
        display: flex;
        flex-direction: column;
    }
    .phone-number{
        position: relative;
        left: 0.2em;
        top: 0em;
    }

    .phone-number label{
        margin-bottom: -2.5em;
    }
    .reserve-button{
        padding-top: 4.5em;
    }
    .date{
        margin-top: -1.5em;
        position: relative;
        left: -0.2em;
    }
    .time, .occasions, .guests{
        position: relative;
        left: -0.8em;
    }
    .time label, .occasions label, .guests label{
        margin-left: 0.3em;
    }
}

@media screen and (min-width: 640px) and (max-width:900px){
    .reservation-container h2{
        font: 700 28pt 'markazi', serif;
    }
    .reservation-container p{
        font: 500 16pt 'karla', sans-serif;
    }
    form{
        width: 80vw;
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 3em;
        height: 42em;
    }
    label{
        text-align: left;
        padding-right: 0.4em;
    }
    .phone-number{
        position: relative;
        left: 0em;
        top: -1.5em;
    }
    .email-address, .phone-number{
        margin-left: -1.8em;
    }
    .date{
        margin-top: -6em;
        margin-left: 2.99em;
    }
    .time{
        margin-left: 3.5em;
    }
    .occasions{
        margin-left: 0.8em;
    }
    .guests{
        margin-left: 1.5em;
    }

}

@media  screen and (min-width:901px) and (max-width:1024px){
    .reservation-container p{
        width: 20em;
    }
    fieldset{
        display: flex;
        justify-items: center;
        align-items: center;
        height: 43em;
    }
    .phone-number{
        position: relative;
        left: 0em;
        top: -1.6em;
    }
    .email-address, .phone-number{
        margin-left: -1.8em;
    }
    .date{
        margin-left: 3em;
        margin-top: -6em;
    }
    .time{
        margin-left: 3.6em;
    }
    .occasions{
        margin-left: 0.8em;
    }
    .guests{
        margin-left: 1.5em;
    }
}

@media screen and (min-width:1025px){
    .phone-number{
        position: relative;
        left: 0em;
        top: -1.5em;
    }
    .date{
        margin-top: -6em;
        margin-right: 0.1em;
    }
    .time, .occasions, .guests{
        margin-right: 0.4em;
    }
}